<!DOCTYPE html>
{% extends 'adminlte/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}

    </title>
</head>
<body>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

    {% block javascript %}
    {{block.super}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js" integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function() {
                $('.money').mask('000,00', {reverse: true});
            });
        </script>
    
    {% endblock javascript %}
</body>
</html>